<div>
  <form phx-submit="create">
    <input type="text" name="code" value="<%= @code %>" placeholder="Enter code" />
    <%= if @error do %>
    <span><%= @error %></span>
    <%= end %>
    <button type="submit">Create poll</button>
  </form>

  <div>
    <span>100</span>
    <span>Polls created</span>
  </div>

  <div>
    <span>100</span>
    <span>Questions asked</span>
  </div>

  <div>
    <span>100</span>
    <span>Upvotes</span>
  </div>
</div>